{% macro render_nav_items(items, level=0, parent='nav') %}
  {% for item in items %}
    {% set has_children = item.children and item.children|length %}
    {% set item_id = (parent ~ '-' ~ level ~ '-' ~ loop.index) %}
    {% if has_children %}
      {% if level == 0 %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{ item.href }}" id="{{ item_id }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ item.label }}</a>
          <ul class="dropdown-menu" aria-labelledby="{{ item_id }}">
            {{ render_nav_items(item.children, level + 1, item_id) }}
          </ul>
        </li>
      {% else %}
        <li class="dropdown-submenu">
          <a class="dropdown-item dropdown-toggle" href="{{ item.href }}" id="{{ item_id }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ item.label }}</a>
          <ul class="dropdown-menu" aria-labelledby="{{ item_id }}">
            {{ render_nav_items(item.children, level + 1, item_id) }}
          </ul>
        </li>
      {% endif %}
    {% else %}
      {% if level == 0 %}
        <li class="nav-item">
          <a class="nav-link" href="{{ item.href }}">{{ item.label }}</a>
        </li>
      {% else %}
        <li>
          <a class="dropdown-item" href="{{ item.href }}">{{ item.label }}</a>
        </li>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endmacro %}
